<template name="AddComponent">
  <div>
    <div>
      <input type="text" placeholder="User" id="user">
      <input type="text" placeholder="Name" id="name">
    </div>
    <h3>Dependencies:</h3>
    <ul>
      {{#each newComponent.dependencies}}
        <li>{{user}}/{{name}}</li>
      {{/each}}
    </ul>
    <div>
      <input type="text" placeholder="User/Name" id="newDep">
      <button id="addDependency">Add</button>
    </div>
    <textarea id="funcText"></textarea>
    <button id="saveComponent">Save</button>
  </div>
</template>