<template name="AddComponent">
  <div>
    <div>
      <input type="text" placeholder="User" id="user">
      <input type="text" placeholder="Name" id="name">
    </div>
    <h3>Dependencies:</h3>
    <ul>
      {{#each newComponent.dependencies}}
        <li>{{user}}/{{name}} <button class="removeDependency">remove</button></li>
      {{/each}}
    </ul>
    <div>
      <input type="text" placeholder="User/Name" id="newDep">
      <button id="addDependency">Add</button>
    </div>
    <div class="text-entry">
      <h3>Javascript</h3>
      <textarea id="funcText"></textarea>
      <button id="saveComponent">Save</button>
    </div>
    <div class="text-entry">
      <h3>Html</h3>
      <textarea id="htmlText"></textarea>
      <button id="saveHtml">Save</button>
    </div>
    <div class="text-entry">
      <h3>Css</h3>
      <textarea id="cssText"></textarea>
      <button id="saveCss">Save</button>
    </div>
  </div>
</template>