functions-editor {
  .CodeMirror {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 100%;

    .CodeMirror-linewidget {
      overflow: inherit;
    }

    #function-definition {
      width: 100%;
      color: purple;
      padding-left: 4px;

      input[type=text], .select2-choices {
        border: none;
        color: #000000;
        background: transparent;

        &:focus {
          outline: none;
        }
      }

      tags-input {
        display: inline-block;

        .host {
          margin: 0;

          .tags {
            border: none;
            background: none;
            box-shadow: none;
            padding: 0;

            .input {
              height: inherit;
            }
          }
        }
      }

      #dependency-selector {
        width: 500px;
      }
    }
  }
}